<div class='main_front'>
    <p>馬券を当てて王者を目指せ！</p>
    <p>１年間の馬券の成績を「的中率」、「回収率」、「払戻額」、「最高払戻額」の４分野でランキング付けし、年末のホープフルS終了時点で年間王者を決定します。</p>
    <p>各分野のランキングは、毎週対象レース終了後に随時更新されます。</p>
    <p>最強の予想師を目指して、馬券を的中させよう！</p>
    <div><%= link_to 'close','/main/top',class: 'main_close' %></div>
</div>
<div class='main_cover'></div>
<div id='main_left'>
    <div class='container2'>
        <h2>初心者でも楽しめる</h2>
        <h2>子供でも参加できる</h2>
        <h2>競売予想バトル</h2>
        <p>大人から子供まで</p>
        <p>競馬好きなら誰でも楽しめる</p>
        <p>競馬予想の専門サイト</p>
    </div>
</div>

<div id='main_right'>
    <div class='container2'>
        <div class='main_btn'><%= link_to '競馬予想バトルとは？','/main/what',class: 'link_btn'%></div>
        <div class='main_btn'><%= link_to '予想バトルのルール','/main/rule',class: 'link_btn'%></div> 
        <div class='main_btn'><%= link_to '馬券を当てて王者を目指せ！','/main/champion',class: 'link_btn' %></div>
    </div>
</div>
