<div id='main_left'>
    <div class='container2'>
        <h2>初心者でも楽しめる</h2>
        <h2>子供でも参加できる</h2>
        <h2>競売予想バトル</h2>
        <p>大人から子供まで</p>
        <p>競馬好きなら誰でも楽しめる</p>
        <p>競馬予想の専門サイト</p>
    </div>
</div>

<div id='main_right'>
    <div class='container2'>
        <div class='main_btn'><%= link_to '競馬予想バトルとは？','/main/what',class: 'link_btn'%></div>
        <div class='main_btn'><%= link_to '予想バトルのルール','/main/rule',class: 'link_btn'%></div> 
        <div class='main_btn'><%= link_to '馬券を当てて王者を目指せ！','/main/champion',class: 'link_btn' %></div>
    </div>
</div>
