<div class='main_front'>
    <p>競馬予想バトルとは？</p>
    <p>毎週１つ重賞レースの予想をし、参加者の誰の予想が優れているのかを競います。</p>
    <p>本当のお金を賭けるわけではないので、初心者やお子様も安心して遊べます。</p>
    <p>必要なのはメールアドレスとパスワードのみ、登録後すぐに遊ぶことが可能です。</p>
    <div><%= link_to 'close','/main/top',class: 'main_close' %></div>
</div>
<div class='main_cover'></div>
<div id='main_left'>
    <div class='container2'>
        <h2>初心者でも楽しめる</h2>
        <h2>子供でも参加できる</h2>
        <h2>競売予想バトル</h2>
        <p>大人から子供まで</p>
        <p>競馬好きなら誰でも楽しめる</p>
        <p>競馬予想の専門サイト</p>
    </div>
</div>

<div id='main_right'>
    <div class='container2'>
        <div class='main_btn'><%= link_to '競馬予想バトルとは？','/main/what',class: 'link_btn'%></div>
        <div class='main_btn'><%= link_to '予想バトルのルール','/main/rule',class: 'link_btn'%></div> 
        <div class='main_btn'><%= link_to '馬券を当てて王者を目指せ！','/main/champion',class: 'link_btn' %></div>
    </div>
</div>