<div class='container'>
    <%= form_tag('/admin/rank_record') do %>
        <p>１着</p>
        <input name='win'>
        <p>２着</p>
        <input name='second'>
        <p>３着</p>
        <input name='third'>
        <input class='submit' type='submit' value='登録'>
    <% end %>
</div>