// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main_left{
    display: inline-block;
    width: 45%;
    margin: 0;
}

#main_left h2{
    font-size: 25px;
}

#main_left p{
    font-size: 20px;
    margin-left:20px;
}

#main_right{
    display: inline-block;
    width: 45%;
}

.main_btn{
    width: 300px;
    display: block;
    border-radius: 10px;
    border: 1px solid #999999; 
    line-height: 120px;
    margin-left: 20px;
    margin-top: 40px;
    text-align: center;
    box-shadow: 2px 2px darkgrey;
    background: white;
}

.link_btn{
    text-decoration: none;
}

.main_cover{
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:3;
}

.main_front{
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    letter-spacing: 2px;
    border-radius: 5px;
    background: #fff;
    z-index: 10;
    border: 1px solid #999999;
}

.container2{
    width: 300px;
    margin: 0 auto;
}